@-moz-keyframes minus-score-animation {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: -30px;
    opacity: 0;
  }
}
@-webkit-keyframes minus-score-animation {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: -30px;
    opacity: 0;
  }
}
@-o-keyframes minus-score-animation {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: -30px;
    opacity: 0;
  }
}
@keyframes minus-score-animation {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: -30px;
    opacity: 0;
  }
}
.header-minus {
  position: relative;
  text-align: right;
  opacity: 0;
  color: red;
}

.minus__animation {
  -moz-animation: 0.8s ease-in-out 0s 1 minus-score-animation;
  -webkit-animation: 0.8s ease-in-out 0s 1 minus-score-animation;
  -o-animation: 0.8s ease-in-out 0s 1 minus-score-animation;
  animation: 0.8s ease-in-out 0s 1 minus-score-animation;
}
